[providers]
node = { }

[phases.setup]
nixPkgs = ["nodejs-22_x", "npm-10_x"]

[phases.install]
cmds = [
    "npm ci --prefix frontend",
    "npm ci --prefix backend"
]

[phases.build]
cmds = [
    "npm run build --prefix frontend",
    "cp -r frontend/dist backend/"
]

[start]
cmd = "cd backend && node server.js"
