[phases.setup]
nixPkgs = ["nodejs-22_x"]

[phases.install]
cmds = [
    "cd frontend && npm ci",
    "cd backend && npm ci"
]

[phases.build]
cmds = [
    "cd frontend && npm run build"
]

[start]
cmd = "cd backend && npm start"
